@model IEnumerable<FuelApp.Models.VehicleModel>

@{
    ViewData["Title"] = "HandleVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HandleVehicle</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Licensplate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FuelType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FuelTankSize)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licensplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelTankSize)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GID })
            </td>
        </tr>
}
    </tbody>
</table>
